@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

ul {
    list-style-type: none;
    margin: 2px;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

li {
    float: left;
    border-right:3px solid #bbb;
    border-radius: 20px;
}

li:last-child {
    border-right: none;
    border-radius: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
}

li a:hover:not(.active) {
    background-color: #010c4e;
}

.active {
    background-color: #010c4e;
}

.input {
    margin-bottom: 5px;
    padding: 5px;
}

#games-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: white;
}

#parent {
    display: flex;
}
#games-container {
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 80%;
}

#games-card {
    background: #010c4e;
    background: -webkit-linear-gradient(to right, #333546, #010c4e);
    background: linear-gradient(to right, #333546, #010c4e);
    color: white;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin-right: 3px;
    margin-top: 3px;

}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
    letter-spacing: 0.5px;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 140px;
}
.form-popup {
    display: none;
    float: right;
    box-sizing: content-box;
    z-index: 9;
    width: 20%;
}
.form-container {
    align-content: center;
    background-color: white;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 25%;
    margin: 5px;
    opacity: 0.8;

}

.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}




