@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

li {
    float: left;
    border-right:3px solid #bbb;
    border-radius: 20px;
}

li:last-child {
    border-right: none;
    border-radius: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;

}

li a:hover:not(.active) {
    background-color: #010c4e;
}

.active {
    background-color: #010c4e;
}

#games-form-container {
    width: 10%;
    height: 100%;
    padding: 20px 10px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    background: #333;
    float: right;
}

input {
    padding: 5px;
    margin: 5px;
}


#submit-btn {
    padding: 5px;
    background: #010c4e;
    border: #010c4e;
    color: white;
    border-radius: 5px;
}
#games-form-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

#games-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: white;
}

#games-container {
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#games-card {
    background: #010c4e;
    background: -webkit-linear-gradient(to right, #333546, #010c4e);
    background: linear-gradient(to right, #333546, #010c4e);
    color: white;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 4px;

}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
    letter-spacing: 0.5px;
}


