@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

li {
    float: left;
    border-right:3px solid #bbb;
    border-radius: 20px;
}

li:last-child {
    border-right: none;
    border-radius: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;

}

li a:hover:not(.active) {
    background-color: #010c4e;
}

.active {
    background-color: #010c4e;
}

#favorites-card {
    background: #010c4e;
    background: -webkit-linear-gradient(to right, #333546, #010c4e);
    background: linear-gradient(to right, #333546, #010c4e);
    color: white;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 4px;
}

#favorites_container {
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}


